*{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /** reset para rems - 62.5% = 10px de 16px */
}

body {
  margin: 0;
}

.main {
  background-image: url('./Tp maquetado/img/header.jpg');
}

.header {
  height: 95vh;
  display: flex;
  justify-content: space-between;
  color: whitesmoke;
  padding: 1rem 0 3rem 0;
}

.navbar {
  width: 100%;
}

nav a:hover {
  color: green;
}

.navigation__nav {
  
}

.header__logo {
  
}

.navigation__item {
  text-decoration: none;
  color: inherit;
  margin: 4rem;
}

.subtitle {
  /* font-size: 10.8rem; */
  padding-bottom: 2rem;
  max-width: 40rem;
  color: white;
  line-height: 2;
}

.nosotros {
  
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
}
