*{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
}

.main {
  background-image: url('./Tp maquetado/img/header.jpg');
}

.header {
  height: 95vh;
  display: flex;
  justify-content: space-between;
  color: whitesmoke;
  padding: 1rem 0 3rem 0;
}

.navbar {
  width: 100%;
}

.navigation__nav {
  
}

.header__logo {
  
}

.navigation__item {
  text-decoration: none;
  color: inherit;
  margin: 4px;
}

.subtitle {
  color: white;
}

.nosotros {
  
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
}
